* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    color: black;
    background: rgba(179, 176, 150, 0.493);
}

header {
    padding: 10px;
    text-align: center;
    color: darkslateblue;
    background: rgba(216, 191, 216, 0.363);
}

nav {
    display: flex;
    background: rgba(0, 128, 128, 0.356);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    color: black;
    /* Removes the underline from the nav links */
    text-decoration: none;
    padding: 14px 20px;
    border-style: solid;
    border-width: 1px;
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

aside {
    color: black;
    height: 100%;
    left: 0;
    flex-direction: row;
}

aside img {
    /* Rounds the corners of the image */
    border-radius: 11px;
    /* Turns the shape of the image to a circle */
    clip-path: circle(50%);
}

aside a {
    text-decoration: none;
}

/* Adds external link icon which opens contact links into a new tab */
aside a[target="_blank"]::after {
    content: "\2197";
}

.box, .box-1 {
    flex: 1 1 0;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    margin: 50px;
}

.box header, .box-1 header {
    background: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.box-1 img {
    width: 700px;
}

.box img {
    width: 450px;
}

#contact-me ul li {
    list-style: none;
    flex-direction: row;
    font-size: 20px;
}

#contact-me h3 {
    background: none;
}

footer {
    text-align: center;
    background: rgba(216, 191, 216, 0.363);
    color: darkslateblue;
    /* position: fixed; */
    width: 100%;
    padding: 10px;
    bottom: 0;
}

/* Changes header background color for tablets */
@media screen and (max-width:992px) {
    header {
        background: rgba(210, 180, 140, 0.452);
        color: darkolivegreen;
    }

    nav {
        background: rgba(85, 107, 47, 0.397);
    }

}

/* Changes nav bar background color  for smartphones */
@media screen and (max-width: 768px) {
    nav {
        background: rgba(85, 107, 47, 0.397);
        /* Stacks nav bar on top of side bar */
        flex-direction: column;
    }

    aside {
        background: tan;
        color: black;
    }

    .box-1 img {
        width: 450px;
    }
}

