* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    color: black;
}

header {
    padding: 20px;
    text-align: center;
    color: seagreen;
    background: burlywood;
}

nav {
    display: flex;
    background: lightcoral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    color: black;
    /* Removes the underline from the nav links */
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    text-align: center;
}

aside {
    background: lightseagreen;
}

/* Changes header background color for tablets */
@media screen and (max-width:992px) {
    header {
        background: maroon;
    }
}

/* Changes nav bar background color for smartphones */
@media screen and (max-width: 768px) {
    nav {
        background: blueviolet;
    }
}

