* {
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    color: black;
    background: rgba(179, 176, 150, 0.493);
}

header {
    padding: 10px;
    text-align: center;
    color: darkslateblue;
    background: rgba(216, 191, 216, 0.363);
}

nav {
    display: flex;
    background: rgba(0, 128, 128, 0.356);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    color: black;
    /* Removes the underline from the nav links */
    text-decoration: none;
    padding: 14px 20px;
    border-style: solid;
    border-width: 1px;
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
}

main section article {
    color: black;
    left: 0;
    flex-direction: row;
    padding: 5%;
}

main section article img {
    /* Rounds the corners of the image */
    border-radius: 11px;
    /* Turns the shape of the image to a circle */
    clip-path: circle(50%);
    max-width: 100%;
    max-height: 100%;
}

main section article a {
    /* Removes the underline from the contact links */
    text-decoration: none;
}

/* Adds external link icon which opens contact links into a new tab */
main section article a[target="_blank"]::after {
    content: "\2197";
}

.box, .box-1 {
    flex: 1 1 0;
    flex-wrap: wrap;
    border-style: none;
    padding: 5%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.box header, .box-1 header {
    background: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.box-1 img {
    width: 800px;
}

.box img {
    width: 700px;
}

#contact-me ul li {
    list-style: none;
}

#contact-me h2 {
    background: none;
    color: darkolivegreen;
}

footer {
    text-align: center;
    background: rgba(216, 191, 216, 0.363);
    color: darkslateblue;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

/* Changes header and nav bar background and text color on tablets */
@media screen and (max-width:1023px) {
    header {
        background: rgba(210, 180, 140, 0.452);
        color: darkolivegreen;
    }

    nav {
        background: rgba(85, 107, 47, 0.397);
    }

}

@media screen and (max-width: 767px) {
    nav {
        /* Changes nav bar background color for smartphones */
        background: rgba(85, 107, 47, 0.397);
        /* Stacks nav bar on top of side bar */
        flex-direction: column;
    }

    main section article {
        /* Changes sidebar bar background and text color for smartphones */
        background: tan;
        color: black;
    }

    .box-1 img, .box img {
        /* This ensures the flex boxes continue to squeeze as the screen size decreases */
        width: 100%;
    }
}

